@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

body{
  font-family: "Poppins", sans-serif;
}

.read-btn {
  all: unset;
  cursor: pointer;

  &:hover {
    color: #2294ed;
  }
}